
<br><br><br><br><br><br><br><br>

<div id="myfooter" class=" myfooter" style="background: #0a0e19; border-top: 1px solid rgb(131, 131, 131);">
    <br><br>
    <div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <ul>
                <li>Bilim Ve Teknoloji Topluluğu</li>
                <li><i class="fa-solid fa-envelope"></i> biltek@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> 0(212) 320 12 12</li>
            </ul>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <ul>
                <li>  <i class="fa-solid fa-globe" ></i> Ana Sayfa </li>
                <li><i class="fa-solid fa-address-card"></i> Hakkımızda</li>
                <li><i class="fa-solid fa-diagram-project"></i> Projeler</li>
                <li><i class="fa-solid fa-address-book"></i> İletişim</li>
            </ul>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
       <div class="sosyalmedya" style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap; ">
        <li><i class="fa-brands fa-github"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-facebook"></i></li>
       </div>
         </div>
    </div>
   
</div>

<br>
<div style="border-top: 1px solid rgb(119, 119, 119); width: 100%; background-color: #080b13;; height: 50px; text-align: center; color: white; line-height: 50px;"> Bilim Ve Teknoloji Topluluğu (BİLTEK)
    
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<script src="/js/nav.js"></script>