<%- include('../partical/nav.ejs') %>

<br>
<br class="d-md-block d-sm-none d-none ">
<div class="container">
    <div class="w-100 " style=" display: flex; align-items: center; justify-content: center; width: 100px;">
<div class="detaillogo ">
    <img src="/img/jotform.png" alt="">
</div>
<div class="detailtitle w-100 ">
    <h3>Jotform <i class="fa-solid fa-atom"></i></h3>
<h4>UL/UX Tasarım Projesi</h4>
</div>

    </div>
</div>

<div class="container">
<div class="cizgi"></div>
</div>

<div class="container mt-3" >
   <div class="ozel">

        <h2>Backend Projesi: Kullanıcı Yönetimi Sistemi</h2>
        <h3>Proje Amacı</h3>
        <p>Bu projede, öğrencilere temel backend geliştirme becerilerini kazandırmayı amaçlıyoruz. Amacınız, kullanıcıların kayıt olabileceği, giriş yapabileceği, profillerini düzenleyebileceği ve şifrelerini sıfırlayabileceği bir sistem oluşturmak. Bu proje ile öğrencilere güvenlik, veritabanı yönetimi ve API geliştirme gibi konularda deneyim kazandırmayı hedefliyoruz.</p>
        <h3>Proje Gereksinimleri</h3>
        <p>Proje için aşağıdaki gereksinimleri yerine getirmeniz bekleniyor:</p>

        <h3>Kullanıcı Kayıt Sistemi</h3>
        <li>Kullanıcılar, e-posta adresi ve şifre ile sisteme kaydolabilmeli.</li>
        <li>Şifreler güvenli bir şekilde (hash'lenmiş olarak) veritabanında saklanmalı.</li>
        <li>Kayıt işlemi başarılı olduğunda kullanıcıya onay maili gönderilmeli.</li>
        <h3>Kullanıcı Giriş Sistemi</h3>
        <li>Kullanıcılar, kayıt oldukları e-posta ve şifre ile sisteme giriş yapabilmeli.</li>
        <li>Başarılı giriş sonrası kullanıcıya bir JSON Web Token (JWT) verilmeli.</li>
        <h3>Profil Güncelleme</h3>
        <li>Kullanıcılar, giriş yaptıktan sonra kendi profil bilgilerini güncelleyebilmeli (isim, fotoğraf, vb.).</li>
        <li>Kullanıcı profilleri güvenli bir şekilde veritabanında saklanmalı.</li>
        <h3>Şifre Sıfırlama Sistemi</h3>
        <li>Kullanıcılar, şifresini unuttuğunda e-posta adresine gönderilecek bir link ile şifresini sıfırlayabilmeli.</li>
        <h3>Veritabanı Tasarımı</h3>
        <li>Kullanıcı bilgilerini saklamak için bir veritabanı tasarımı yapın. İlgili tablolar, kullanıcı adı, e-posta, şifre, profil bilgileri gibi alanlar içermelidir.
        </li>
        <li>Veritabanı ilişkileri ve normalizasyon kurallarına dikkat edilmelidir.</li>
        <h3>Sonuc</h3>
        <p>Bu proje, öğrencilere güvenli ve işlevsel bir backend uygulaması geliştirme becerisi kazandıracaktır. Ayrıca, projede kullanılan teknolojiler ve güvenlik önlemleri, gerçek dünya yazılım geliştirme süreçlerine uygun olacaktır.</p>
  
  
    </div>
</div>




















<%- include('../partical/footer.ejs') %>




<script src="/js/detail.js"></script>




</body>
</html>