
  <%- include('../partical/nav.ejs') %>



<br><br class="d-md-block d-sm-none d-none ">

<div class="container d-md-none d-sm-block " style="display: flex; justify-content:end;">
  <div id="filterBtn" class=" border border-light text-light text-center me-2  mb-2 text-decoration-underline " style="padding: 5px; letter-spacing: 2px; width: 120px; border-radius: 15px;" ><i class="fa-solid fa-filter"></i> Filter </div>

</div>

<div  class="container">
  <div  class="container  d-lg-flex d-none mb-3" style="display: flex; justify-content: right; align-items: center;">
    <a href="/tasarim">
    <button style="width: 120px; height: 34px; border: 1px solid rgb(205, 205, 205); border-radius: 20px; background-color: transparent; color: white; margin-right: 25px;">Proje Ekle <i class="fa-solid fa-plus"></i></button>
  </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="filterBox" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 d-block d-md-block d-none   py-3" style="background: #10182a; border: 1px solid rgb(202, 202, 202); border-radius: 9px;">




      <h3 style="color: white; font-family: 'Courier New', Courier, monospace; border-bottom: 1px solid rgb(205, 205, 205); height: min-content;">Filter <i id="filterBoxCloseBtn" class="fs-5 fa-solid fa-xmark"  style=" float: right; margin-right: 10px;"></i></h3>


      <div class="input-group mt-4">
        <div class="form-outline" data-mdb-input-init>
          <input type="search" id="form1" class="form-control text-light" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>
          <i class="fas fa-search"></i>
        </button>
      </div>

      <label class="text-light ms-1 mt-4">Kategori</label>
      <select class="form-select" aria-label="Default select example" >
        <option selected>Kategori</option>
        <option value="1"> Yazılım Geliştirme</option>
        <option value="2">Elektronik ve Donanım</option>
        <option value="3">Yazılım-Elektronik Entegrasyonu</option>
        <option value="4">Güvenlik ve Ağ Sistemleri</option>
      </select>




      <label class="text-light ms-1  mt-3">Seviye</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Seviye</option>
        <option value="1"> Başlangıç seviyesinde projeler</option>
        <option value="2">Orta seviyede projeler</option>
        <option value="3">İleri düzeyde projeler</option>

      </select>



      <label class="text-light ms-1 mt-3">Tarihe Göre Sırala</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Tarihe Göre Sırala</option>
        <option value="1"> Yeniden Eskiye</option>
        <option value="2">Eskiden Yeniye</option>

      </select>


      <button class="filterBtn bg-primary text-light mt-4">Filtrele</button>




    </div>
    <div class="col-xl-9  col-lg-9 col-md-9 col-sm-12" >
      <section style>
        <div style="margin-top: -20px;">
      
         
      
    













          <div class="row justify-content-center mt-4">
            <div class="col-md-12 col-xl-11">
              <div class="card shadow-0 border rounded-3">
                <div  style="background-color: #101728;" class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div style="width: 100%;" class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="/img/jotform.png"
                          class="cardIMG w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5 style="color: white;">Ul/UX Tasarım Projesi</h5>
                      <b class="text-light">Yazılım Geliştrme</b>
             
            
               
                      <p style="color: rgb(224, 224, 224);" class=" ">
Lorem ipsum dolor sit amet consectetur, adipisicing  asperiores, autem  molestias facilis modi.                      </p>
                   
                    
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center ">
                        <!-- <h4 class="mb-1 me-1">200</h4> -->
                        <span class="text-danger"><s><!-- eski fiyat --></s></span>
                      </div>
                      <!-- <h6 class="text-success">Ücretsiz Kargo</h6> -->
                      <div class=" text-center" style="align-items: center; display: flex; flex-wrap: wrap;">
                        <h3 class="text-light mb-4 d-xl-block d-md-block d-none">Jotform</h3>
                        <a href="/view/template/detail.html" style="text-align: left; display: block; width: 100%;">
                        <button class="btn btn-primary btn-sm" style="width: 100%;" type="button">İncele</button></a>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    
    
    
    
    
    
    




          <div class="row justify-content-center mt-4">
            <div class="col-md-12 col-xl-11">
              <div class="card shadow-0 border rounded-3">
                <div  style="background-color: #101728;" class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div style="width: 100%;" class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="/img/garanti.png"
                          class="cardIMG w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5 style="color: white;">Backend Geliştirme Projesi</h5>
                      <b class="text-light">Yazılım Geliştrme</b>
             
            
               
                      <p style="color: rgb(224, 224, 224);" class=" ">
Lorem ipsum dolor sit amet consectetur, adipisicing  asperiores, autem  molestias facilis modi.                      </p>
                   
                    
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center ">
                        <!-- <h4 class="mb-1 me-1">200</h4> -->
                        <span class="text-danger"><s><!-- eski fiyat --></s></span>
                      </div>
                      <!-- <h6 class="text-success">Ücretsiz Kargo</h6> -->
                      <div class=" text-center" style="align-items: center; display: flex; flex-wrap: wrap;">
                        <h3 class="text-light mb-4 d-xl-block d-md-block d-none">GarantiBBVA</h3>
                        <a href="/view/template/detail.html" style="text-align: left; display: block; width: 100%;">
                        <button class="btn btn-primary btn-sm" style="width: 100%;" type="button">İncele</button></a>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    









          <div class="row justify-content-center mt-4">
            <div class="col-md-12 col-xl-11">
              <div class="card shadow-0 border rounded-3">
                <div  style="background-color: #101728;" class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div style="width: 100%;" class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="/img/akınsoft.png"
                          class="cardIMG w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5 style="color: white;">FrontEnd Geliştirme Projesi</h5>
                      <b class="text-light">Yazılım Geliştrme</b>
             
            
               
                      <p style="color: rgb(224, 224, 224);" class=" ">
Lorem ipsum dolor sit amet consectetur, adipisicing  asperiores, autem  molestias facilis modi.                      </p>
                   
                    
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center ">
                        <!-- <h4 class="mb-1 me-1">200</h4> -->
                        <span class="text-danger"><s><!-- eski fiyat --></s></span>
                      </div>
                      <!-- <h6 class="text-success">Ücretsiz Kargo</h6> -->
                      <div class=" text-center" style="align-items: center; display: flex; flex-wrap: wrap;">
                        <h3 class="text-light mb-4 d-xl-block d-md-block d-none">AkınSoft</h3>
                        <a href="/view/template/detail.html" style="text-align: left; display: block; width: 100%;">
                        <button class="btn btn-primary btn-sm" style="width: 100%;" type="button">İncele</button></a>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    










          <div class="row justify-content-center mt-4">
            <div class="col-md-12 col-xl-11">
              <div class="card shadow-0 border rounded-3">
                <div  style="background-color: #101728;" class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <div style="width: 100%;" class="bg-image hover-zoom ripple rounded ripple-surface">
                        <img src="/img/akbank.png"
                          class="cardIMG w-100" />
                        <a href="#!">
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h5 style="color: white;">Deprem Tahmini için Veri Bilimi</h5>
                      <b class="text-light">Yazılım Geliştrme</b>
             
            
               
                      <p style="color: rgb(224, 224, 224);" class=" ">
Lorem ipsum dolor sit amet consectetur, adipisicing  asperiores, autem  molestias facilis modi.                      </p>
                   
                    
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center ">
                        <!-- <h4 class="mb-1 me-1">200</h4> -->
                        <span class="text-danger"><s><!-- eski fiyat --></s></span>
                      </div>
                      <!-- <h6 class="text-success">Ücretsiz Kargo</h6> -->
                      <div class=" text-center" style="align-items: center; display: flex; flex-wrap: wrap;">
                        <h3 class="text-light mb-4 d-xl-block d-md-block d-none">AkBank</h3>
                        <a href="/view/template/detail.html" style="text-align: left; display: block; width: 100%;">
                        <button class="btn btn-primary btn-sm" style="width: 100%;" type="button">İncele</button></a>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    








        
      
        </div>
      </section>
    </div>
  </div>
</div>






<%- include('../partical/footer.ejs') %>
<script src="/js/proje.js"></script>


</body>
</html>