<%- include('../partical/nav.ejs') %>


<br><br class="d-md-block d-sm-none d-none ">
<div class="container">
</div>


<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="row">

                <!-- <div class=" d-block d-md-block d-lg-none d-xxl-none col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-4"  >
           <div class="tanitim1IMG" style="height: 200px;  margin: auto; width: 95%;">

           </div>
                </div> -->

                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <h2 class="tanitim1Title">Öğrenciler İçin Proje Geliştirme ve Deneyim Kazanma Platformu</h2>
                    <p class="tanitim1P">  
                        Günümüzde öğrencilerin en büyük sorunlarından biri, edindikleri teorik bilgileri pratiğe dökme fırsatı bulamamalarıdır. Bu eksiklik, mezuniyet sonrası iş hayatına atıldıklarında birçok zorlukla karşılaşmalarına neden olmaktadır. İşte tam da bu noktada, öğrencilerin kendilerini geliştirmelerine yardımcı olmak için tasarladığımız Proje Geliştirme Sistemi devreye giriyor!
                </p>
        
                </div>
                <div class="tanitim1IMG d-none d-md-none d-lg-block d-xxl-block col-xl-5 col-lg-5 col-md-12 col-sm-12" style="height: 200px;  margin: auto;" >
           
                </div>

            </div>
           
            <!-- <div style="border-bottom: 1px solid white; width: 95%; max-width: 650px;"></div> -->

           


        </div>

        <div class="col-12">
            <h2 class="tanitim2Title">Sistem Nasıl Çalışıyor?</h2>

            <p class="tanitim2P">  
                Sistemimize firmalar ve sektördeki uzmanlar tarafından hazırlanmış projeler yüklenmektedir. Öğrenciler, Projeler sayfasına giderek ilgilerini çeken projeleri seçebilir ve bu projeleri bireysel olarak ya da bir takım kurarak gerçekleştirebilirler. Sistemimizde hem bireysel hem de takım çalışmalarına uygun projeler mevcuttur. Bu sayede öğrenciler, çalışma tarzlarına en uygun yöntemi seçerek kendilerini geliştirme fırsatı bulurlar.
            </p>



        </div>

        <div class="col-12">
            <h2 class="tanitim3Title">Neden Bu Sistemi Kullanmalısınız?</h2>

           
            <ul class="tanitimList">
                <li>
                    <b>Teorikten Pratiğe Geçiş:</b>  Sadece teorik bilgiyle yetinmek yerine, projeler geliştirerek gerçek deneyim kazanabilirsiniz.

                </li>


                <li>
                   <b>Sektör Uzmanlarından Projeler:</b>  Sistemde yer alan projeler, sektördeki uzmanlar tarafından hazırlanmıştır. Bu projeleri tamamlamak, özgeçmişinize büyük bir değer katacaktır.
                </li>

                <li>
                   <b>Takım Çalışması Deneyimi:</b>  İş hayatında genellikle bir ekiple çalışmanız gerekecektir. Ancak öğrencilik sürecinde bu deneyimi kazanmak zordur. Sistemimiz sayesinde, bir takım kurarak veya mevcut bir takıma katılarak bu yeteneğinizi geliştirebilirsiniz.
                </li>

                <li>
                   <b>Portföyünüzü Güçlendirin:</b>  Tamamladığınız projeleri GitHub ve diğer platformlarda paylaşarak, iş dünyasında görünürlüğünüzü artırabilirsiniz. Böylece sektördeki profesyonellerin dikkatini çekme şansı elde edersiniz.

                </li>
            </ul>


        </div>
    </div>
</div>


<%- include('../partical/footer.ejs') %>




</body>
</html>