
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #101728;
}
nav{
    width: 100%;
    height: 100px;
    border-bottom :1px solid white;
    z-index: 1000;
    border-top: 3px solid #191919;
    position: absolute;
    top: 0;



  transition : 0.5s ease;
    background-color: #101728;
    transition: 0.5s;
    z-index: 99999999999;
}
.my_navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;
    z-index: 1000;
    min-width: 300px;
    z-index: 99999999999;

}
.logo{
    width: 300px;
    height: 100px;
   
 
   
margin-top: 20px;
    background-image: url("../img/logobeyaz.png");
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;


}

.navlist{
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    list-style-type: none;
    width: 70%;
   
    padding-right: 50px;

   
}
.navmobilList{
    color: white;
    font-size: 30px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.navmobilList i{
    display: block;
    color: white;
    font-size: 26px;
 
}

.navlist div {
text-align: center;
margin: auto;
margin: 0 20px;
letter-spacing: 2px;
cursor: pointer;
padding: 5px;
}

.navlist i {
font-size: 30px;
    }


    .mobilnavbox{
        max-width: 300px;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 90px;
        left: 0px;
        transform: translateX(-100%);
        transition: 0.5s;
        background-color: gray;
        z-index: 999999;
        background-color: #101728;
        border-right: 2px solid rgb(200, 223, 249);
        border-bottom: 2px solid rgb(200, 223, 249);
    }




.topRight {
    

    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    
    }


.topLeft {
display: flex;
padding-top: 50px;
justify-content: center;

/* border: 1px solid green; */
height :auto;
background-image: url("../img/img1.png");


background-repeat: no-repeat;
background-size: contain;






}


.mobilnavbox ul{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 17px;
    border-top: 1px solid white;
}
.mobilnavbox ul li{
    height: 50px;
    border-bottom: 1px solid white;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
padding-left: 10px;
}
.mobilnavbox i{
 margin-right: 10px;
 margin-left: 10px;

}
.mobilnavbox img{
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 20px;
 
   
   }

   .mobilnavbox h4{
   font-size: 18px;
color: white;  
margin-left: 20px;

margin-top: 10px;
 

   }
.topLeft h3{
    color: white;
    font-size: 70px;
  
 
    width: 100%;
    font-weight: 900;
    margin-top: 20px;


}
.baslik{
    color: white;
    font-size: 70px;
  
 
    width: 100%;
    font-weight: 900;
 
    margin-top: 0px;
        font-size: 40px;
        text-align: center;
    text-transform: capitalize;
    display: none;

}

.mainbtn{ 
    background: rgb(147,64,255);
    background: linear-gradient(90deg, rgba(147,64,255,1) 24%, rgba(255,60,95,1) 100%);
    color: black;
    border-radius: 25px;
    width: 200px;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border: none;
    display: block;
    margin-top: 20px;
}




.toptop{
    background-image: url("../img/img1.png");
 

         background-repeat: no-repeat;
         background-size: contain;
         background-position: center;
 
}

.box{
    background: rgb(17,15,43);
    background: linear-gradient(90deg, rgba(17,15,43,1) 55%, rgba(13,15,79,1) 100%);

    height: 300px;
    border: 1px solid white;
    margin: 10px 0 ;
 border-radius: 15px;

}

.box h5{
    color: white;
    width: 85%;
    border-bottom: 1px solid rgb(204, 195, 247);
    margin: auto;
    font-weight: 300;
    font-size: 20px;
    margin-top:20px ;
}
.box p{
    color: white;
    width: 85%;
   
    margin: auto;
    font-weight: 200;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 15px;
    text-align: justify;
  
}


.box button{
display: block;
margin-left: 45px;
margin-top: 20px;
width: 130px;
height: 30px;
border-radius: 12px;
border: none;
background: rgb(162,4,228);
background: linear-gradient(90deg, rgba(162,4,228,1) 5%, rgba(14,62,154,1) 93%);
}






.bizkimiz{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 20px;
    border-bottom: 1px solid white;
    width: 170px;
    font-family: 'Courier New', Courier, monospace;
    
}

.bizkimizP{
    color: rgb(226, 226, 226);
    width: 90%;
    margin-left: 20px;
    text-align: justify;
    font-size: 15px;
    font-weight: 300;
}

.misyon{
    color: white;
    font-weight: 300;
    font-size: 25px;
    width: 90px;
    border-bottom: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
}


.vizyon{
    color: white;
    font-weight: 300;
    font-size: 25px;
    width: 90px;
    border-bottom: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
}
.misyonP{
    color: rgb(226, 226, 226);
    width: 90%;
   
    text-align: justify;
    font-size: 15px;
    font-weight: 300;
}

.vizyonP{
    color: rgb(226, 226, 226);
    width: 90%;
   
    text-align: justify;
    font-size: 15px;
    font-weight: 300;
}






.myfooter li{
color: white;
list-style-type: none;
height: 35px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 17px;

font-weight: 300;
}


.sosyalmedya i{
    color: white;
    font-size: 30px;
    display: block;
    margin: 15px;
    
    }

@media (max-width:1400px){
 
    .topLeft h3{

        font-size: 60px;
      
     
    
    
    
    }

}

@media (max-width:1200px){
 
    .topLeft h3{

        font-size: 53px;
    
    }
    .navlist{
        display: none;
    }
    .navmobilList{
        display: block;
    }



    
}



@media (max-width:995px){
 
    .topLeft h3{
        margin-top: 0px;
        font-size: 45px;
                text-align: center;
            text-transform: capitalize;
            margin-top: 40px;
            
            
            }
            .mainbtn{ 
            display: block;
            margin: auto;
              margin-top: 30px;
                border: 1px solid white;
         
               
            }
            .topLeft {
             
            
                padding-top: 0px;
                margin: 0px;
                background-position: center;

                
                
                }





                .mainTop{
                    background-image: url("../img/img1.png");
            
            
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
             
                .topLeft h3{
            margin-top: 0px;
                    font-size: 40px;
                    text-align: center;
                text-transform: capitalize;
                margin-top: 40px;
                display: none;
                
                
                }
            
                .baslik{
                    display: block;
                    color: white;
                    font-size: 70px;
                  
                 
                    width: 100%;
                    font-weight: 900;
                 
                    margin-top: 0px;
                        font-size: 40px;
                        text-align: center;
                    text-transform: capitalize;
                
                }
            
                .mainbtn{ 
            display: block;
            margin: auto;
                  margin-top: 30px;
                    border: 1px solid white;
             
                   
                }
            
          


}
@media (max-width:500px){



    
    

    .mobilnavbox{
   
        top: 70px;
       
     
    }
        .logo{
    
            height: 70px;
            width: 100px;
           
      
            background-image: url("../img/logobeyaz.png");
            background-size: cover;
            background-position: center;
            background-clip: content-box;
        
        
        }
        nav{
            height: 70px
        }
        .my_navbar{
            width: 100%;
           
        }
     
        .box p{
       
            font-size: 13px;
           
          
          
        }
        .box button{
           
            margin-left: 25px;
       
            }
}

@media (max-width:770px){

        nav{
            height: 70px
        }
        .my_navbar{
            width: 100%;
           
        }
     
      
    
}

