.projectCard{
  width: 90%;
  min-width: 300px;
  height: 200px;
  margin: auto;
  border:1px solid white; 
  display: flex;
  justify-content: left;
}


.cardImg{
border: 1px solid green;
height: 100%;
}

.cardImg img{ 

  border: 5px solid green;
 height: 100%;
 }

 .filterBtn{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: block;
  
  margin-top: 10px;

  
 }


 #filterBox{
 
  z-index: 99999;


}
.gel{
  position: fixed;
  top: 80px;

}





.cizgi{
  max-width: 600px;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(217, 216, 216);
}
.detaillogo img{

height: 100px;
}

.detailtitle{
  padding-left: 10px;
  }


  .detailtitle h3{
    font-weight: 200;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    }

    .detailtitle h4{
      font-weight: 200;
      color: rgb(238, 238, 238);
      font-size: 19px;
    font-family: 'Courier New', Courier, monospace;

      }

