<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css"
    rel="stylesheet"
  />
   
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/main_carusel.css">
    <link rel="stylesheet" href="../../public/css/proje.css">
    <link rel="stylesheet" href="../../public/css/ozel.css">

    <link rel="shortcut icon" href="../../public/img/logoseffaf2.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>


    <title>Bilim ve Teknoloji</title>
</head>
<body>
    <div style="height: 70px;" id="home" ></div>
    <div style=" z-index: 99999999999;">
    <nav id="mynav">
        <div class="my_navbar">
            <div class="logo"></div>
            <div class="navlist">
                <div>
                    <a style="color: white; text-decoration: none;" href="/view/template/main.html#home">
                    <i class="fa-solid fa-globe" ></i>
                    <li>Ana Sayfa</li>
                </a>
                </div>
                

                <div>
                    <a style="color: white; text-decoration: none;" href="/view/template/main.html#hakkimizda">
                    <i class="fa-solid fa-address-card"></i>
                    <li>Hakkımızda</li>
                </a>
                </div>
                

                <div>
                    <a style="color: white; text-decoration: none;" href="/view/template/projeler.html">
                    <i class="fa-solid fa-diagram-project"></i>
                    <li>Projeler</li>
                    </a>
                </div>
                

                <div>
                    <a style="color: white; text-decoration: none;" href="#myfooter">
                    <i class="fa-solid fa-address-book"></i>
                    <li>İletişim</li>
                    </a>
                </div>
                

     

                
            </div>
            <div class="navmobilList" id="mobilnavOpenBtn">
                <i class="fa-solid fa-bars" style="color: white;"></i>
            </div>
        </div>



    </nav>
    

</div>
<div class="mobilnavbox" id="mobilnavbox">
<img src="../../public/img/user2.png" alt="">
<h4>Hüseyin Yalçın</h4>

<ul>
    <a style="color: white; text-decoration: none;" href="/view/template/main.html#home"> <li><i class="fa-solid fa-globe" ></i> Ana sayfa</li> </a>
    <a style="color: white; text-decoration: none;" href="/view/template/main.html#hakkimizda">    <li><i class="fa-solid fa-address-card"></i> Hakkımızda</li> </a>
 
    <a style="color: white; text-decoration: none;"  href="/view/template/projeler.html"><li> <i class="fa-solid fa-diagram-project"></i> Projeler</li></a>
    <a style="color: white; text-decoration: none;" href="#myfooter"><li> <i class="fa-solid fa-address-book"></i> İletişim</li></a>
    


</ul>
</div>

<br>
<br class="d-md-block d-sm-none d-none ">
<div class="container">
    <div class="w-100 " style=" display: flex; align-items: center; justify-content: center; width: 100px;">
<div class="detaillogo ">
    <img src="../../public/img/jotform.png" alt="">
</div>
<div class="detailtitle w-100 ">
    <h3>Jotform <i class="fa-solid fa-atom"></i></h3>
<h4>UL/UX Tasarım Projesi</h4>
</div>

    </div>
</div>

<div class="container">
<div class="cizgi"></div>
</div>










<div class="container mt-3" >
 <div class="ozel" id="htmlBox">

 </div>
</div>


<div class="container mt-2">
    <button id="plus">Ekle <i class="fa-solid fa-plus"></i></button>
<ul id="plusList">
    <li id="bigtitleAddBtn">Başlık</li>
    <li id="smalltitleAddBtn" >Küçük Başlık</li>
    <li id="textAddBtn">Paragraf</li>
    <li id="listAddBtn">Liste</li>
    <li id="imgAddBtn">Fotoğraf</li>



</ul>

</div>








<div class="design" id="design">
    <div class="designBtnGroup">
<div class="deginLeft">

    <div class="dropdown ms-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Yazı Rengi
        </button>
        <ul class="dropdown-menu">
          <li id="colorBlackBtn"><a class="dropdown-item" href="#">Siyah</a></li>
          <li id="colorBlueBtn"><a class="dropdown-item" href="#">Mavi</a></li>
          <li id="colorRedBtn"><a class="dropdown-item" href="#">Kırmızı</a></li>
          <li id="colorYellowBtn"><a class="dropdown-item" href="#">Sarı</a></li>
          <li id="colorGreenBtn"><a class="dropdown-item" href="#">Yeşil</a></li>
          <li id="colorWhiteBtn"><a class="dropdown-item" href="#">Beyaz</a></li>


          


        </ul>
      </div>
      
      <div class="dropdown ms-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Yazı Büyüklüğü
        </button>
        <ul class="dropdown-menu">
          <li id="textSize1"><a class="dropdown-item" href="#">6</a></li>
          <li id="textSize2"><a class="dropdown-item" href="#"> 5</a></li>
          <li id="textSize3"><a class="dropdown-item" href="#">4</a></li>
          <li id="textSize4"><a class="dropdown-item" href="#">3</a></li>
          <li id="textSize5"><a class="dropdown-item" href="#">2</a></li>
          <li id="textSize6"><a class="dropdown-item" href="#">1</a></li>


        </ul>
      </div>

</div>
<div class="deginRight">
    
    <button id="notChange"><i  class="fs-5 fa-solid fa-xmark" ></i></button>

</div>

    </div>
    <textarea  name="" id="inp" placeholder="Lütfen Bir Şeyler Girin"></textarea>
    

</div>










<br><br><br><br><br><br><br><br>


<div id="myfooter" class=" myfooter" style="background: #0a0e19; border-top: 1px solid rgb(131, 131, 131);">
    <br><br>
    <div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <ul>
                <li>Bilim Ve Teknoloji Topluluğu</li>
                <li><i class="fa-solid fa-envelope"></i> biltek@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> 0(212) 320 12 12</li>
            </ul>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <ul>
                <li>  <i class="fa-solid fa-globe" ></i> Ana Sayfa </li>
                <li><i class="fa-solid fa-address-card"></i> Hakkımızda</li>
                <li><i class="fa-solid fa-diagram-project"></i> Projeler</li>
                <li><i class="fa-solid fa-address-book"></i> İletişim</li>
            </ul>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
       <div class="sosyalmedya" style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap; ">
        <li><i class="fa-brands fa-github"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-facebook"></i></li>
       </div>
         </div>
    </div>
   
</div>

<br>
<div style="border-top: 1px solid rgb(119, 119, 119); width: 100%; background-color: #080b13;; height: 50px; text-align: center; color: white; line-height: 50px;"> Bilim Ve Teknoloji Topluluğu (BİLTEK)
    
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../../public/js/nav.js"></script>
<script src="../../public/js/detail.js"></script>
<script src="../../public/js/ozel.js"></script>





</body>
</html>